                        <option value="JavaScript">JavaScript</option>
                        <option value="HTML/CSS">HTML/CSS</option>
                        <option value="SQL">SQL</option>
                        <option value="Python">Python</option>
                        <option value="Bash">Bash</option>
                        <option value="C#">C#</option>
                        <option value="PHP">PHP</option>
                        <option value="Node">Node</option>
                        <option value="MongoDB">MongoDB</option>
                        <option value="React">React</option>
                        <option value="C++">C++</option>
                        <option value="TypeScript">TypeScript</option>
                        <option value="C">C</option>
                        <option value="Ruby">Ruby</option>
                        <option value="Go">Go</option>
                        <option value="Blockchain">Blockchain</option>
                        <option value="Machine Learning">Machine Learning</option>
                        <option value="Artificial Intelligence">Artificial Intelligence</option>
                        <option value="System Designing">System Designing</option>