<!-- -------------------------Common Layout file for all views------------------ -->

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Adding icon library  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- manual css files-->
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/welcome.css">
    <link rel="stylesheet" href="css/registerDev.css">
    <link rel="stylesheet" href="css/loginDev.css">
    <link rel="stylesheet" href="css/portfolio.css">
    <link rel="stylesheet" href="css/profileForm.css">
    <link rel="stylesheet" href="css/addPost.css">
    <link rel="stylesheet" href="css/companyDashboard.css">
    <link rel="stylesheet" href="css/companyStats.css">
    <link rel="stylesheet" href="css/companies.css">
    <link rel="stylesheet" href="css/developerStats.css">

    <title>JobSpace</title>
  </head>
  <body>
    
    <div class="fluid-container">
        <%- body %>
    </div>

    <!-- footer common for all views -->
    <footer class="footer-bar">
        <div class="row">

          <div class="col-md-4 col-xs-12 officeAddress">
            <h3>Head Office</h3>
            <br>
            <p>102,Floor-1, SVBH, MNNIT</p>
            <p>Prayagraj,U.P.</p>
            <p>INDIA</p>

            <i class="fa fa-envelope-o"> : jobspace2020webster@gmail.com</i>
          </div>

          <div class="col-md-4 col-xs-12 forDevelopers">
            <h3 class="">For Developers</h3>
              <br>
              <p>Create portfolio</p>
              <p>Apply to jobs</p>
              <p>Subscribe to company</p>
              <p>Get notified</p>
              <p>Check stats</p>
          </div>
          <div class="col-md-4 col-xs-12 forCompany">
            <h3>For Company</h3>
            <br>
            <p>Post a job</p>
            <p>Check Post stats</p>
            <p>Filter developers</p>
            <p>Hire developers</p>
            
          </div>

        
        </div>
        <hr style="background-color: white;"><br>
        <div class="">&copy; All rights Reserved | Terms and Policy 2020</div>
        
         
    </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    
    <script src = "https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity = "sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin = "anonymous" ></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  
  </body>
  
</html>