<!---------------------------------------Welcome page view-----------------------------------  -->

<!-- navigation bar -->

<nav class="navbar navbar-expand-lg navbar-light sticky-top bg-dark">
    <!-- <a class="navbar-brand" href=""><img src="/images/logo.jpg" alt="logo" ></a> -->
    <a style="color:white" class="navbar-brand" href=""><i class="fa fa-suitcase"></i> JobSpace</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto pr-4">
        <li class="nav-item btn btn-danger">
          <a  class="nav-link activeNavLink" href="/">
            <i class="fa fa-home"></i> Home
          </a>
        </li>
        
        <li class="nav-item dropdown btn btn-outline-primary">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user-plus"></i>
            Sign Up
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/company/register">Company</a>
            <a class="dropdown-item" href="/developer/register">Developer</a>
        </li>

        <li class="nav-item dropdown  btn btn-outline-primary">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-sign-in"></i>
              Login
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/company/login">Company</a>
              <a class="dropdown-item" href="/developer/login">Developer</a>
          </li>
        
      </ul>
      
    </div>
</nav>

<!-- flash messaging -->
<!-- 
  this is mainly works for when any guest user try
  to go to protected routes
 -->
<%- include ("./partials/messages") %>

<div>
    <img src="images/welcome.png" alt="bg photo" width="100%">
</div>


<div class="section-2">
  <div class="container pt-3 pb-3">
      <div class="row">
          
          <div class="col-lg-4">
              <!-- companies card -->
              <div class="card custom-card">
                  <div class="card-body">
                    <h5 class="card-title" style="font-weight: 600;">For Companies</h5>
                    <p class="card-text" style="font-weight: 400; color:#4d4d4d">We are the market leading technical interview platform to identify and hire developers with right skills.</p>
                    <a href="/company/register" class="btn btn-primary p-3" style="color:white;">Start hiring</a>
                  </div>
              </div>
          </div>

          <div class="col-lg-4">
              <!-- corporate artistic image -->
              <img class="welcome-image-cartoon" src="images/corporate.png" alt="corporate img" width="100%">
          </div>

          <div class="col-lg-4">
              <!-- Developers card -->
              <div class="card custom-card">
                  <div class="card-body">
                    <h5 class="card-title" style="font-weight: 600;">For Developers</h5>
                    <p class="card-text" style="font-weight: 400; color:#4d4d4d">Join over 2 million developers , create your portfolio , show your skills , apply for jobs , get hired and get training with perks.</p>
                    <a href="developer/register" class="btn btn-primary p-3" style="color:white;">Sign Up & Apply</a>
                  </div>
              </div>
          </div>
        
      </div>
      
  </div>
</div>

