.stats-bg{
    /* background-image: url(../images/); */
    background-repeat: no-repeat;
    background-size: cover;
}

.companyStats{
    font-size: 21px;
    font-weight: 500;
}

.card-header-stats{
    background-color: #f2f2f2e1;
}
