.loginSection{  
    /* background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%); */
    /* background-image: url(../images/loginBG.jpg); */
    /* position: relative; */
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
}

.heading-login{
    color:#a1a1a1;
    text-align: center;
    font-weight: 900;
    padding-top: 3%;
}

.subHeading{
    padding-top: 1%;
    text-align: center;
    font-weight: 700;
    font-size: x-large;
    color:#007bff;
}

.formSection{
    padding-top: 3%;
    
}

.input-group{
    width:50%;
}

#SubmitButton{
    width:50%
}

.haveAnAccount{
    width:50%;
}