
.navbar-nav .nav-item .nav-link{
    font-size: 15px;
    font-weight: 350;
    color:#007bff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar-nav .nav-item .nav-link:hover{
    color:#0069d9;
}